.Projects {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 786px) {
  .Projects {
    display: flex;
    flex-direction: column;
  }
}
