.Project {
  box-sizing: border-box;
  width: 80%;
  margin: 10px auto;
  padding: 1rem;
  text-align: left;
}

.Project img {
  width: 600px;
  height: 400px;
}

.Project a {
  text-decoration: none;
  color: white;
}

.Header {
  display: flex;
  align-items: center;
}

.Header i {
  font-size: 24px;
  padding: 1rem;
}
