.Home {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.Skills {
  margin: 60px auto;
}

.Info {
  padding: 200px;
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.6em;
  line-height: 1.8em;
  margin: auto;
  font-size: 32px;
  font-weight: bold;
}

@media screen and (max-width: 786px) {
  .Home {
    display: flex;
    flex-direction: column;
  }

  .Info {
    visibility: hidden;
  }
}
