*
{
    margin: 0;
    padding: 0;
}

body
{
    height: auto;
    background-color: #0A192F;
    color: white;
    
}

#Name
{
    font-size: 64px;
    font-family: 'Racing Sans One', cursive;
    text-align: center;
}

#Link
{
    text-align: center;
    color: white;
    font-family: 'Racing Sans One', cursive;
    font-size: 24px;
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
}

#Link div
{
    margin: 10px auto 0 auto;
}

a
{
    color: white;
    text-decoration: none;
    
}

main
{
    display: flex;
}

aside
{
    padding-top: 30px;
    width: 25%;
    height: 100%;
    top: 0;
    position: sticky;
}

div#Skills
{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
    margin-top: 40px;
}

i[class^="devicon"]
{
    font-size: 64px;
    margin: 15px;
    color: white;
}

section
{
    margin: 50px 20px 0px 20px;
    width: 75%;
    overflow: auto;
}

div.Preview
{
    margin: 20px;
    height: 320px;
    border: 1px solid white;
}

div.Description
{
    margin: 20px;
    text-align: justify;
}

 @media (max-width: 768px)
 {
     main
     {
         flex-direction: column;
         text-align: center;
     }

     aside
     {
         position: unset;
         width: 100%;
     }

     section
     {
         width: 95%;
         overflow: unset;
         margin: auto;
     }
 }

@media (max-width: 600px)
{
    div#Skills
    {
        display: grid;    
        grid-template-columns: 50% 50%;
    }
}