.Navbar {
  display: flex;
  gap: 10px;
  padding: 0 20px;
}

.Navbar div {
  font-size: 1.2rem;
  margin: 1rem;
}

.Navbar > a {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  margin: 1rem;
}

.Link {
  padding-top: 10px;
}

.ActiveLink {
  padding-top: 10px;
  border-bottom: 2px solid white;
}

.Spacer {
  flex: 1;
}

.Contact {
  display: flex;
}

.Contact a {
  text-decoration: none;
  color: white;
}
