.nav {
  display: flex;
  gap: 10px;
}

.nav div {
  font-size: 1.2rem;
  margin: 1rem;
}

.nav > a {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  margin: 1rem;
}

.Spacer {
  flex: 1;
}

.Contact {
  display: flex;
}

.Contact a {
  text-decoration: none;
  color: white;
}
