*
{
    margin: 0;
    padding: 0;
}

body
{
    height: auto;
    background-color: #0A192F;
    color: white;
    font-style: normal;
    font-family: 'Racing Sans One', cursive;
    
}

main
{
    width:70%;
    margin:auto;
}

/* header */
#name
{
    font-size: 64px;
    font-family: 'Racing Sans One', cursive;
    text-align: center;
}

#link
{
    text-align: center;
    color: white;
    font-family: 'Racing Sans One', cursive;
    font-size: 24px;
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
}

#link div
{
    margin: 10px auto 0 auto;
}

a
{
    color: white;
    text-decoration: none;
}


header
{
    padding-top: 30px;
    height: 100%;
    top: 0;
}

div#skills
{
    display: grid;
    grid-template-columns: repeat(3, 33%);
    text-align: center;
    margin-top: 40px;
}

i[class^="devicon"]
{
    font-size: 64px;
    margin: 15px;
    color: white;
}

/* Projects section */
section
{
    
    margin: 40px 20px 0px 20px;
    overflow: auto;
}

div.preview
{
    margin: 20px;
    height: 370px;
    border: 1px solid white;
}

div.project h2
{
    text-align: center;
    font-size: 50px;
}

div.description
{
    margin: 20px;
    text-align: justify;
}

/* Responsive */
@media (max-width: 786px)
{
    main
    {
        width: 90%;
        margin: auto;
    }
}


@media (max-width: 600px)
{
    main
    {
        width: 100%;
        margin: auto;
    }
    div#skills
    {
        display: grid;    
        grid-template-columns: repeat(2, 50%);
    }
}