.technology 
{
    border: 1px solid white;
    display: inline-block;
    font-size: 80%;
    padding: .3125rem .9375rem;
    background-color: #0A192F;
    color: #fff;
    border-radius: .625rem;
    margin-right: .3125rem;
    margin-bottom: .3125rem;
}