.NotFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 80px);
  gap: 16px;
  color: white;
}

.NotFound h1 {
  font-size: 6rem;
  font-weight: bold;
  margin: 0;
}

.NotFound p {
  font-size: 1.5rem;
  margin: 0;
}

.NotFound a {
  color: white;
  font-size: 1rem;
  text-decoration: underline;
}
